html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: absolute;
  width: 100%;
  text-align: center;
}

.robot {
  width: 320px;
  display: inline;
}

.robot-body {
  width: 320px;
  position: relative;
  bottom: 0;
}

.robot-brain {
  width: 46px;
  position: relative;
  bottom: 0;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: relative;
  bottom: 10px;
}
